{% extends 'servicos/base.html' %}
  {% block content %}  
    {% load static %}
      <div class="perfil-container">
        <section>
          <div class="perfil">
            <img
              src="{{ profissional.foto_perfil.url }}"
              alt="Exemplo de um profissional"
              style="width: 15rem;"
            />
            <div>
              <h1>{{profissional}}</h1>
              <div class="flex">
                <p>{{profissional.descricao}}</p>
                <img src="{% static 'servicos/img/icone_editar.png' %}" alt="" style="width: 16px; height: 16px; margin-top: 5px;">
              </div>
              <p>serviços realizados:<strong> {{profissional.servico}}</strong></p> 
            </div>
          </div>
          <div class="endereco">
            <p>{{profissional.endereco}}</p>
            <p>{{profissional.cidade}} {{profissional.estado}}</p>
          </div>
          <div class="avaliacao">
            <img
              src="{% static 'servicos/img/avaliacao.png' %}"
              alt="Estrelas de avaliação"
            />
          </div>
          <div class="acoes">
            <a href="#">
              <img
                src="{% static 'servicos/img/icone_compartilhar.png' %}"
                alt="Ícone de compartilhar"
              />
            </a>
            <a href="{% url 'editar_profissional' profissional.id %}" class="acoes__botao">Editar perfil</a>
            <a href="{% url 'contratos_profissional' %}" class="acoes__botao">Meus contratos</a>
          </div>
        </section>
        <section style="padding-bottom: 5rem;">
          <div class="flex">
            <h1>Fotos do trabalho</h1>
            <a href="{% url 'fotos_profissional' %}" class="adicionar" style="text-decoration: none; color: black;">+</a>
          </div>
          <div class="fotos-perfil">
            {% for i in foto %}
            <img src="{{ i.imagem.url }}"alt="Exemplo de trabalho" style="width: 15rem; height: 15rem;"/>
            {% endfor %}          
          </div>
        </section>
      </div>
  {% endblock %}