{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Perfil Cliente</title>
    <link rel="stylesheet" href="{% static 'servicos/css/Style.css' %}" />
  </head>
  <body>
    <main class="perfil-container">
      <section>
        <div class="perfil">
          <img
            src="{% static 'servicos/img/cliente_exemplo.jpg' %}"
            alt="Exemplo de um cliente"
          />
          <div>
            <h1>Adrielyson Kaiã</h1>
            <p>Exemplo de descrição para um cliente</p>
            <small class="perfil__total-servicos">
              <strong>10</strong> serviços contratados
            </small>
          </div>
        </div>
        <div class="endereco">
          <p>Rua Augustino Filozino - 2131</p>
          <p>Centro</p>
        </div>
        <div class="avaliacao">
          <img
            src="{% static 'servicos/img/avaliacao.png' %}"
            alt="Estrelas de avaliação"
          />
        </div>
        <div class="acoes">
          <a href="#">
            <img
              src="{% static 'servicos/img/icone_compartilhar.png' %}"
              alt="Ícone de compartilhar"
            />
          </a>
          <a href="#" class="acoes__botao">Editar perfil</a>
          <a href="#" class="acoes__botao">Adicionar foto</a>
        </div>
      </section>
      <section>
        <h1>Avaliações do usuário</h1>
        <div class="fotos-perfil">
          <div class="avaliacao_cliente">
            <div class="avaliacao_cliente__comentario">
              <img
                src="{% static 'servicos/img/icone_usuario.png' %}"
                alt="Ícone de usuário"
              />
              <p>
                “Esse profissional é tudo!!! Lavou minha casa inteirinha, fez
                até comida!! Vale um 10!!!!!”
              </p>
            </div>
            <div class="avaliacao_cliente__estrelas">
              <img
                src="{% static 'servicos/img/avaliacao.png' %}"
                alt="Estrelas de avaliação"
              />
            </div>
            <button class="avaliacao_cliente__verificar">Verificar?</button>
          </div>
          <div class="avaliacao_cliente">
            <div class="avaliacao_cliente__comentario">
              <img
                src="{% static 'servicos/img/icone_usuario.png' %}"
                alt="Ícone de usuário"
              />
              <p>João Pedro é sensacional! Faz tudo bem feito</p>
            </div>
            <div class="avaliacao_cliente__estrelas">
              <img
                src="{% static 'servicos/img/avaliacao.png' %}"
                alt="Estrelas de avaliação"
              />
            </div>
            <button class="avaliacao_cliente__verificar">Verificar?</button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
