{% extends 'servicos/base.html' %}
  {% block content %}  
    {% load static %}
        <div class="perfil-container">
          <section>
            <div class="perfil">
              <img
                src="{{ cliente.foto_perfil.url }}"
                alt="Exemplo de um cliente"
              />
              <div>
                <h1>{{cliente.nome}}</h1>
                <div class="flex">
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem, et, incidunt eaque id eveniet voluptatem sint enim beatae delectus dolore fugiat accusantium officiis totam odio dolor dolores repellendus sunt quibusdam.</p>
                  <img src="{% static 'servicos/img/icone_editar.png' %}" alt="" style="width: 16px; height: 16px; margin-top: 5px;">
                </div>
                <small class="perfil__total-servicos">
                  <strong>10</strong> serviços contratados
                </small>
              </div>
            </div>
            <div class="endereco">
              <p>{{ cliente.endereco }}</p>
              <p>{{ cliente.cidade }} {{ i.estado }}</p>
            </div>
            <div class="avaliacao">
              <img
                src="{% static 'servicos/img/avaliacao.png' %}"
                alt="Estrelas de avaliação"
              />
            </div>
            <div class="acoes">
              <a href="#">
                <img
                  src="{% static 'servicos/img/icone_compartilhar.png' %}"
                  alt="Ícone de compartilhar"
                />
              </a>
              <a href="{% url 'editar_cliente' cliente.id %}" class="acoes__botao">Editar perfil</a>
              <a href="{% url 'contratos_clientes'%}" class="acoes__botao">Meus contratos</a>
            </div>
          </section>
          <section>
            <h1>Avaliações do usuário</h1>
            <div class="fotos-perfil">
              <div class="avaliacao_cliente">
                <div class="avaliacao_cliente__comentario">
                  <img
                    src="{% static 'servicos/img/icone_usuario.png' %}"
                    alt="Ícone de usuário"
                  />
                  <p>
                    “Esse profissional é tudo!!! Lavou minha casa inteirinha, fez
                    até comida!! Vale um 10!!!!!”
                  </p>
                </div>
                <div class="avaliacao_cliente__estrelas">
                  <img
                    src="{% static 'servicos/img/avaliacao.png' %}"
                    alt="Estrelas de avaliação"
                  />
                </div>
                <button class="avaliacao_cliente__verificar">Verificar?</button>
              </div>
              <div class="avaliacao_cliente">
                <div class="avaliacao_cliente__comentario">
                  <img
                    src="{% static 'servicos/img/icone_usuario.png' %}"
                    alt="Ícone de usuário"
                  />
                  <p>João Pedro é sensacional! Faz tudo bem feito</p>
                </div>
                <div class="avaliacao_cliente__estrelas">
                  <img
                    src="{% static 'servicos/img/avaliacao.png' %}"
                    alt="Estrelas de avaliação"
                  />
                </div>
                <button class="avaliacao_cliente__verificar">Verificar?</button>
              </div>
            </div>
          </section>
        </div>  
  {% endblock %}