{% extends 'servicos/base.html' %}
  {% block content %}  
    {% load static %}  
      <div class="form-control form_custom" >
        <form>
          <div class="row form_organization">
            <label for="exampleInputEmail1" class="form-label">Nome Completo:</label>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nome" aria-label="First name">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Sobrenome" aria-label="Last name">
            </div>
          </div>      
          <div class="mb-3 form_organization">
            <label for="exampleInputEmail1" class="form-label">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="flex">
            <div class="mb-3 form_organization senha1_form">
              <label for="exampleInputPassword1" class="form-label">Senha:</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form_organization senha2_form" style="padding-left: 1rem;">
              <label for="exampleInputPassword1" class="form-label" >Confirme a senha:</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
          </div>
          <div class="col-md-4 form_organization">
            <label for="inputState" class="form-label">Serviços que você deseja prestar:</label>
            <select id="inputState" class="form-select">
              <option selected>Selecionar...</option>
              <option>Pintura</option>
              <option>Pintura</option>
              <option>Pintura</option>
              <option>Pintura</option>
              <option>Pintura</option>
              <option>Pintura</option>
              <option>Pintura</option>
              <option>Pintura</option>
              <option>Pintura</option>
            </select>
          </div>
          <div class="flex">
            <div class="mb-3 form_organization foto_form">
              <label for="formFile" class="form-label">Foto de perfil:</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3 form_organization celular_form">
              <label for="formGroupExampleInput" class="form-label">Número de celular:</label>
              <input type="text" class="form-control" id="formGroupExampleInput" placeholder="(00)00000-0000">
            </div>
            <div class="mb-3 form_organization cpf_form">
              <label for="exampleInputEmail1" class="form-label ">CPF:</label>
              <input class="form-control" type="text" placeholder="000.000.000.-00" aria-label="default input example">
            </div>
          </div>        
          <div class="col-12 form_organization">
            <label for="inputAddress" class="form-label">Endereço:</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Bairro, rua, número..">
          </div>
          <div class="flex">
            <div class="col-md-6 form_organization cidade_form">
              <label for="inputCity" class="form-label">Cidade:</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="col-md-4 form_organization estado_form">
              <label for="inputState" class="form-label">Estado:</label>
              <select id="inputState" class="form-select">
                <option selected>Selecionar...</option>
                <option>RN</option>
                <option>RN</option>
                <option>RN</option>
                <option>RN</option>
                <option>RN</option>
                <option>RN</option>
                <option>RN</option>
                <option>RN</option>
                <option>RN</option>
              </select>
            </div>
            <div class="col-md-2 form_organization cep_form">
              <label for="inputZip" class="form-label">CEP:</label>
              <input type="text" class="form-control" id="inputZip" placeholder="00000-000">
            </div>
          </div>
          <div class=" flex centralizar form_organization" style="margin: 2rem 0 2rem 0;">                
            <button type="button" class="btn btn-success"><a href="{% url 'perfil_profissional' %}" style="text-decoration: none; color: #fff;">Cadastrar</a></button>
          </div>
  {% endblock %} 