main {
  width: 100%;
}
.cliente {
  width: 100%;
  height: 1066px;
  background-image: url(../img/cliente_exemplo.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}
.profissional {
  width: 100%;
  height: 1066px;
  background-image: url(../img/profissional_exemplo.jpg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
}
.flex {
  display: flex;
}
.centralizar {
  align-items: center;
  justify-content: center;
}
.home_text {
  font-size: 4rem;
}
.navbar_custom {
  margin-right: 1rem;
  padding: 0.1rem 0 0.1rem 0;
  color: rgb(238, 237, 237);
}
.home_margin {
  margin-bottom: 3rem;
}
.card_custom {
  margin: 3rem;
  border-radius: 2rem !important;
}
.img_profissional {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.btn_ajuste {
  margin-bottom: 1rem;
}
.page-link {
  background-color: #198754 !important;
  color: white !important;
}
/* ------------------------------------------------------------------------------------------------------------ */

@import url("https://fonts.googleapis.com/css?family=Numans");

html,
body {
  background-color: rgb(213, 231, 214) !important;
  height: 100%;
  font-family: "Numans", sans-serif;
}

.container {
  height: 100%;
  align-content: center;
}

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(53, 107, 67, 0.5) !important;
}

.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #28a745;
}

.social_icon span:hover {
  color: white;
  cursor: pointer;
}

.card-header h3 {
  color: white;
}

.social_icon {
  position: absolute;
  right: 20px;
  top: -10px;
}

.input-group-prepend span {
  width: 50px;
  background-color: #28a745;
  color: black;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.remember {
  color: white;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}

/* ---------------------------------------------------------------------------------------------------------*/

/* Perfil profissional */
.perfil-container {
  max-width: 1200px;
  margin: 0 auto;
}

.perfil-container section {
  margin: 32px 0;
}

.endereco {
  font-weight: bold;
}

.perfil {
  display: flex;
  gap: 32px;
}

.perfil__total-servicos {
  color: #666666;
}

.perfil img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.acoes {
  display: flex;
  align-items: center;
  gap: 16px;
}

.acoes a {
  text-decoration: none;
}

.acoes__botao {
  color: #000;
  font-weight: bold;
  padding: 8px 16px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 8px;
}

.acoes__botao:hover {
  background: #bfbfbf;
  transition: 0.3s ease;
}

.fotos-perfil {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.fotos-perfil img {
  border-radius: 16px;
}

/* Perfil usuário */
.avaliacao_cliente {
  background-color: #072853;
  border-radius: 12px;
  padding: 16px;

  display: flex;
  flex-direction: column;

  width: 200px;
}

.avaliacao_cliente__comentario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.avaliacao_cliente__comentario p {
  color: #fff;
}

.avaliacao_cliente__verificar {
  color: #fff;
  cursor: pointer;
  align-self: flex-end;
  border: none;
  background: none;
}

.avaliacao_cliente__verificar:hover {
  text-decoration: underline;
}

.avaliacao_cliente__estrelas {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.avaliacao_cliente__estrelas img {
  width: 100px;
}

.link_cadastro{
  text-decoration:none;
  color:#fff ;
}
.form_custom{
  background-color: rgb(213, 231, 214) !important;
  width: 80% !important;
  margin-left: 10%;
}
.form_organization{
  padding-top: 1rem;
}
.foto_perfil{
  width: 1rem;
  height: 1rem;
  border-radius: 5rem;
}
.cidade_form, .foto_form, .senha1_form, .senha2_form{
  width: 50% !important;
}
.cidade_form, .foto_form, .senha1_form{ 
  padding-right: 0.5rem;
}
.estado_form, .cep_form, .celular_form, .cpf_form{
  width: 25% !important;
  padding-left: 1rem ;
}
.adicionar{
  height: 2rem;
  margin-left: 2rem;
  border-style: solid;
  border-radius: 0.5rem;
  margin-top: 0.7rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-weight:bold;
}
