{% extends 'servicos/base.html' %}
  {% block content %}
      <div class="flex">
        <div class="cliente flex centralizar">
            <div class="home_margin">
                  <h2 class="home_text" style="color: black;">Contratar Serviços</h2>
                  <div class="flex centralizar">                 
                        <button type="button" class="btn btn-success">Entrar</button>
                  </div>
            </div>
        </div>
        <div class="profissional flex centralizar">
            <div class="home_margin">
                  <h2 class="home_text" style="color: white; -webkit-text-stroke: 1px #000000  ;">Prestar Serviços</h2>
                  <div class=" flex centralizar">                
                        <button type="button" class="btn btn-success">Entrar</button>
                  </div>
            </div>
        </div>
      </div>  
  {% endblock %}    