{% extends 'servicos/base.html' %}
  {% block content %}  
    {% load static %}
      {% if nome %}
          <h2 style="margin: 1rem;">Resultados para: "{{ nome }}"</h2>
      {% else %}
          <h2 style="margin: 1rem;">Resultados para o serviço: "{{ servico }}"</h2>
      {% endif %}
    <div class="flex ">
    {% for i in profissional %}
      <div class="flex" style="margin: 2rem 0 2rem 0 ;">
        <div class="card card_custom" >
          <img src="{{ i.foto_perfil.url }}" class="img_profissional" alt="...">
          <div class="card-body">
            <h3 class="card-title">{{ i.nome }} {{ i.sobrenome}}</h3>
            <strong>{{ i.servico }}</strong>
            <p  style="margin-top: 1rem ;">{{ i.cidade }} {{ i.estado }}</p>
            <p class="card-text" style="text-align: justify;">{{ i.descricao }}</p>
          </div>
          <div class="card-body flex" style="justify-content: space-evenly;">
            <a href="{% url 'contrato' i.id %}"><button type="button" class="btn btn-success btn_ajuste">Contratar</button></a>
            <button type="button" class="btn btn-success btn_ajuste">Ver mais</button>
          </div>
        </div>     
      </div>

    {% endfor %}
    </div>

    <nav aria-label="Page navigation example" class="flex centralizar">
      <ul class="pagination">
        {% if pag_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ pag_obj.1 }}">Primeira</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ pag_obj.previous_page_number }}">Anterior</a></li>        
        {% endif %}
            
        <li class="page-item"><a class="page-link" href="?page={{ pag_obj.number }}">{{ pag_obj.number }} de {{ pag_obj.paginator.num_pages }}</a></li>
  
        {% if pag_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ pag_obj.next_page_number }}">Próxima</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ pag_obj.paginator.num_pages }}">Última </a></li>          
        {% endif %}
  
        <span class="current">
          
        </span>
      </ul>
    </nav>
  {% endblock %} 

