main{
    width: 100%;
    display: flex;
}
.cliente{
    width: 100%;
    height: 1066px;
    background-image:url(../IMG/cliente_exemplo.jpg);
    background-repeat: no-repeat;
}
.profissional{
    width: 100%;
    height: 1066px;
    background-image:url(../IMG/profissional_exemplo.jpg);
    background-repeat: no-repeat;
}